.movie-page-container {
  width: var(--container-width-1440);
  margin: var(--space-50) auto 0;
  padding: 0 var(--space-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-80);
}

.title-item,
.review-item {
  background: var(--color-movie-card-bg);
  border-radius: var(--radius-12);
  backdrop-filter: var(--blur-strong);
  padding: var(--space-40);
  position: relative;
}

.movie-page-image-info-container {
  display: flex;
  gap: var(--space-80);
  align-items: flex-start;
}

.movie-image-wrapper {
  width: var(--movie-poster-width);
  height: var(--movie-poster-height);
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-12);
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  width: var(--movie-poster-width);
  height: var(--movie-poster-height);
  overflow: auto;
}

.movie-description {
  color: var(--color-paragraph);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
  line-height: var(--line-height-32);
}

.movie-page-actions-container {
  display: flex;
  align-items: center;
  gap: var(--space-24);
}

.movie-detail {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.movie-detail-label,
.review-date {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  color: var(--color-label);
}

.movie-detail-value {
  color: var(--color-value);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
  line-height: var(--line-height-32);
}

.review-title {
  position: absolute;
  top: calc(var(--space-24) * -2);
  left: 0;
  padding: var(--space-8) var(--space-4);
  border-radius: var(--radius-8);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
  color: var(--color-label);
}

.review-detail {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.review-header-title {
  font-weight: var(--font-weight-700);
  color: var(--color-value);
  font-size: var(--font-size-20);
  line-height: var(--line-height-32);
}

.review-text {
  font-weight: var(--font-weight-400);
  color: var(--color-paragraph);
  font-size: var(--font-size-20);
  line-height: var(--line-height-32);
}

.movie-page-review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}