.button {
	padding: var(--button-padding);
	border: none;
	border-radius: var(--button-radius);
	cursor: var(--button-cursor);
	transition: var(--button-transition);
	font-weight: var(--button-font-weight);
	font-size: var(--button-font-size);
}

.accent {
	background-color: var(--button-accent-bg);
	color: var(--button-accent-color);
}

.accent:hover {
	background-color: var(--button-accent-bg-hover);
}