:root {
  --color-light: #ffffff;
  --color-title: #000000;
}

.buttons {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-title);
  background-color: var(--color-light);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
}

.buttons__inner {
  display: flex;
  column-gap: 1vw;  
}

.buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  background: var(--color-title);
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  margin-block: 1vw;
}

.buttons__button_active {
  color: var(--color-title);
  background: var(--color-light);
  border: 1px solid var(--color-title);
}