.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4) var(--space-8);
  color: var(--color-movie-card-views);
  background-color: var(--color-movie-card-views-bg);
  backdrop-filter: var(--blur-light);
  border-radius: var(--radius-8);
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}