.movie-card {
  width: var(--movie-card-width);
  height: var(--movie-card-height);
  padding: var(--space-8) var(--space-8) var(--space-16);
  background: var(--color-movie-card-bg);
  backdrop-filter: blur(80px);
  border-radius: var(--radius-12);
  cursor: pointer;
}

.movie-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  width: 100%;
}

.movie-card-image-wrapper {
  position: relative;
}

.movie-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge-wrapper {
  position: absolute;
  top: var(--space-8);
  left: var(--space-8);
}

.movie-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-16);
  margin-left: var(--space-8);
}

.movie-card-title {
  align-self: flex-start;
  font-weight: var(--font-weight-600);
  letter-spacing: var(--link-letter-spacing);
  color: var(--color-title);
}