body {
    background: linear-gradient(180deg, #374151 0px, #111827 1500px);
    margin: 0;
}

header a {
    color: #ffffff;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
}

nav {
    padding: 80px 180px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog {
    position: relative;
}

#blog {
    font-size: 18px;
}

#blog_B {
    position: absolute;
    left: -34px;
    font-size: 18px
}

.image_1 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -6.5px;
    left: -46px;
    border-radius: 3px;
    background: #4B5563;
    box-shadow: 0px 15px 30px 0px #00000026;
}

::placeholder {
    color: #ffffff99;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    background: #1F293799;
    color: #ffffff99;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 100px;
    border: none;
    height: 20px;
    padding: 10px 49px
}

form {
    position: relative;
}

.image_2 {
    position: absolute;
    top: 13px;
    left: 18px;
}

section div {
    text-align: center;
    margin: 0 0 14px 0;
}

section span {
    color: #ffffff99;
    font-family: 'Roboto', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middot {
    -webkit-text-stroke: 1.5px #ffffff99;
    margin: 0px 8px;
}

.image_3 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

#NatalyaVasilyeva {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

#developer {
    line-height: 28px;
    margin: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 30px 0;
}

.image_4 {
    border-radius: 5px;
    width: 896px;
    height: 594px;
    flex-shrink: 0;
    margin: 16px 0 70px 0;
}

.section_text,
.section_text a {
    color: #ffffff;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 35px 0;
}

.section_text a {
    text-decoration-line: underline;
}

footer {
    text-align: center;
    margin: 100px 0 80px 0;
}

footer p {
    color: #ffffff99;
    font-family: 'Roboto', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}